-
  var title = __('title') !== 'title' ? __('title') : config.title;
  var subtitle = __('subtitle') !== 'subtitle' ? __('subtitle') : config.subtitle;
  var author = __('author') !== 'author' ? __('author') : config.author;
  var description = __('description') !== 'description' ? __('description') : config.description;
  var keywords = config.author + ', ' + config.title;
  var title_suffix = ' | ' + title;

  if (is_home()) {
    title = title + ((theme.index_subtitle && subtitle) ? (' | ' + subtitle) : '');
  } else if (is_archive()) {
    title = __('title.archive') + title_suffix;
  } else if (is_category()) {
    title = __('title.category') + ': ' + page.category + title_suffix;
  } else if (is_tag()) {
    title = __('title.tag') + ': ' + page.tag + title_suffix;
  } else if (is_post()) {
    title = (page.title || __('post.untitled')) + title_suffix;
  } else {
    if (page.type === 'tags') {
      title = __('title.tag') + title_suffix;
    } else if (page.type === 'categories') {
      title = __('title.category') + title_suffix;
    } else {
      title = page.title + title_suffix;
    }
  }

meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(http-equiv="content-type", content="text/html; charset=utf-8")
meta(name="viewport", content="width=device-width, initial-scale=0.5")
meta(name="format-detection" content="telephone=no")
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="black")


if theme.google_analytics
  link(rel="dns-prefetch" href="https://www.googletagmanager.com")
if theme.baidu_analytics
  link(rel="dns-prefetch" href="https://hm.baidu.com")

include ../../_third-party/analytics/index.pug
include ../../_third-party/advertising/index.pug