.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar-default {
  background-image: none;
  background-color: #fff;
  box-shadow: none;
  font-size: 100%;
  border-color: #e7e7e7;
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}

.navbar-default .navbar-toggle {
  border-color: #ddd;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
.navbar-default .navbar-brand {
  color: #777;
}
.navbar-brand,
.navbar-nav {
  font-size: 24px;
}
.navbar-brand {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti,
    SimSun, serif;
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.navbar-brand {
  cursor: pointer;
  float: left;
  padding: 15px;
  line-height: 20px;
  height: 50px;
}

navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}

@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
}

@media (min-width: 768px) {
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
}

@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    margin: 0;
  }
}
.nav {
  padding-left: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .navbar-nav > li {
    float: left;
  }
}

.nav > li {
  position: relative;
  display: block;
}

.navbar-default .navbar-nav > li > a {
  color: #777;
  font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei,
    "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
  border-bottom: none;
  cursor: pointer;
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  border-bottom: none;
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.navbar-nav > li > a {
  line-height: 30px;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
a {
  text-decoration: none;
}
a {
  background: 0 0;
}

.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #ebebeb 0, #f3f3f3 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0, #f3f3f3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff3f3f3', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
}

body {
  margin: 0;
}

div.inner {
  margin-top: 5%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-header:before {
  content: " ";
  display: table;
}

.navbar-header:after {
  clear: both;
}


.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

body.mobile {
  font-size: 36px;
}

body.mobile .navbar-brand {
  font-size: 36px;
}

body.mobile div.outer {
  margin: 4% 2% 2% 2%;
}

body.mobile .navbar-nav {
  font-size: 36px;
  margin: 70px 0;
}
